*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


/* sezione header */
header {
    background-color: #FF6900;
    padding-top:20px;
    padding-bottom: 20px ;
}

.login a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 3px;
}

.logo img{
    width: 120px;
}

.section-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout{
    max-width: 1300px;
    margin: auto;
}

/* fine sezione header */

/* sezione main */
.card-container {
    padding: 60px 270px;
}

.article-buy {
    width: calc(( 100% - 60px ) / 3);
}

.container-flex {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

img {
    width: 100%;
    display: block;
}



/* fine sezione main */
