*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


/* sezione header */
header {
    background-color: #FF6900;
    padding-top:20px;
    padding-bottom: 20px ;
}

login i, a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 3px;
}

.logo img{
    width: 120px;
}

.section-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout{
    max-width: 1370px;
    margin: auto;
}

/* fine sezione header */

/* sezione main */
.card-container {
    padding: 50px 0;
}

.container-flex {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

/* fine sezione main */
